---
layout: default
logo: '/images/Logo.png'
title: Minindu Weerakoon
tagline: Minindu Weerakoon's personal website
author:
    name: Minindu Weerakoon
carousels:
  - images: 
    - image: ../images/auburn_stadium.jpg
      desc: Auburn stadium 2022
    - image: ../images/auburn_entrance.png
      desc: Auburn entrance 2023
    - image: ../images/language_school_grad.jpg
      desc: Language school graduation 2015
    - image: ../images/lego_robot.jpeg
      desc: Lego robot for robot competition 2016
    - image: ../images/unist_sign.jpg
      desc: UNIST 2021
    - image: ../images/unist_lab.jpg
      desc: UNIST lab 2021
---

{% include section-hero.html %}

{% include section-about.html %}

{% include section-projects.html %}

<!-- {% include section-blog.html %} -->